[Unit]
Description=AutoRoute Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=charm
Group=charm
Type=simple

WorkingDirectory=/home/charm/data/AutoRoute
# make -ea depends on the prod/testing
Environment="JAVA_OPTIONS=-XX:MaxRAMPercentage=20 -Xlog:gc*:file=logs/gc.log -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/home/charm/disk/heapdumps -XX:GCTimeLimit=20 -XX:-OmitStackTraceInFastThrow -XX:+ExitOnOutOfMemoryError"
ExecStart=java $JAVA_OPTIONS -jar AutoRoute.jar app.property.file=/home/charm/data/AutoRoute/app.properties
ExecStop=/bin/kill -15 $MAINPID
Restart=always
RestartSec=3
StandardOutput=null
# StandardError=null

[Install]
WantedBy=multi-user.target