[Unit]
Description=OpenTopoData Service
After=network.target

[Service]
SuccessExitStatus=143

User=charm
Group=charm
Type=simple

WorkingDirectory=/home/charm/disk/opentopodata
ExecStart=/bin/bash -c 'cd /home/charm/disk/opentopodata && make build && docker-compose up --build'
ExecStop=/usr/bin/docker stop $(docker ps -q --filter ancestor=opentopodata:1.9.0)
Restart=always
RestartSec=10
#StandardOutput=null

[Install]
WantedBy=multi-user.target