[Unit]
Description=Valhalla Service
After=network.target

[Service]
SuccessExitStatus=143

User=charm
Group=charm
Type=simple

WorkingDirectory=/home/charm/disk/docker-valhalla
ExecStartPre=/usr/bin/docker rm -f valhalla_latest || true
ExecStart=/bin/bash -c 'cd /home/charm/disk/docker-valhalla && docker compose up --build'
ExecStop=/bin/bash -c 'cd /home/charm/disk/docker-valhalla && docker compose down'
Restart=always
RestartSec=10
User=charm

[Install]
WantedBy=multi-user.target